.page-container {
    position: relative;
    min-height: 100vh !important; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    padding-bottom: 169px;
}

/* mainpage */

.hero-image-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    height: 700px;
    width: 100%;
    background: url("../images/sushi-plate.jpg") no-repeat center center;
    background-size: cover;
    

    /* animates the zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

/* creates zoom effect on the hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.hero-image-text-outer {
    position: absolute;
    left: 150px;
    bottom: 200px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 25px;
}


.booking-form-container {
    max-width: 350px !important;
}


/* Contact us page */

.contact-us-container {
    max-width: 350px !important;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 450px;
    max-width: 800px;
    margin: 0 auto;
}

.gmap_canvas iframe {
    height: 450px;
    width: 100%;
}