{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sushi Yamato</title>
</head>
<body>
    <div class="page-container">
        <header class="container-fluid p-0">
            <div class="row m-0">
                <div class="col m-0 p-0">
                    <nav class="navbar navbar-expand-sm">
                        <div class="container-fluid">
                          <a class="navbar-brand h1 mb-1" href="{% url 'home' %}">Sushi Yamato</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarToggler">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a {% if active == "home" %}class="nav-link active"{% else %} class="nav-link" {% endif %} href="{% url 'home' %}">Home{% if active == "home" %}<span class="sr-only">(current)</span>{% endif %}</a>
                                </li>
                                <li class="nav-item">
                                    <a {% if active == "menu" %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'home' %}">Menu{% if active == "menu" %}<span class="sr-only">(current)</span>{% endif %}</a>
                                </li>
                                <li class="nav-item">
                                    <a {% if active == "book" %}class="nav-link active"{% else %} class="nav-link" {% endif %} href="{% url 'book' %}">Book a table{% if active == "book" %}<span class="sr-only">(current)</span>{% endif %}</a>
                                </li>
                                <li class="nav-item">
                                    <a {% if active == "find" %}class="nav-link active"{% else %} class="nav-link" {% endif %} href="{% url 'home' %}">Find us{% if active == "find" %}<span class="sr-only">(current)</span>{% endif %}</a>
                                </li>
                                <li class="nav-item">
                                    <a {% if active == "contact" %}class="nav-link active"{% else %} class="nav-link" {% endif %} href="{% url 'home' %}">Contact{% if active == "contact" %}<span class="sr-only">(current)</span>{% endif %}</a>
                                </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
        </header>
        <main class="mt-0">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </main>
        
        <footer>
            <div class="container py-3 mb-4">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Booking</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Menu</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">© 2022 Sushi Yamato, Inc</p>
            </div>
        </footer>
    </div>
</body>
</html>