{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
            {{form}}

        <input type="submit" value="Submit">
    </form>

    <form action="" method="post">
        {% csrf_token %}
        <br>
        <p>
            <label for="booking-number">Booking number:</label>
        </p>
        <p>
        <input type="text" name="booking-number" id="booking-number">
        </p>
        <p>
        <button class="btn btn-primary" type="submit" name="action" value="editbook">Edit booking</button>
        </p>
        <p>
        <button class="btn btn-primary" type="submit" name="action" value="viewbook">View booking</button>
        </p>
    </form>

{%endblock%}