{% extends "base.html" %}

{% block content %}
    <div class="booking-form-container container mt-5">
        <h3 class="text-center">Book a table</h3>
        <form action="" method="post">
            {% csrf_token %}
            <table class="table">
            {% for field in form %}
                <tr>
                    <td scope="col">{{field.label}}:</td>
                    <td scope="col">{{field}}</td>
                </tr>
            {% endfor %}
            </table>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if form.errors %}
                {% for value in form.errors.values %} 
                    <p class="errormessage">{{ value }}</p> 
                {% endfor %}
            {% endif %}
            <input class="btn btn-primary d-flex mx-auto px-3" type="submit" value="Submit">
        </form>
    </div>
            

       

    <form action="" method="post">
        {% csrf_token %}
        <br>
        <p>
            <label for="booking-number">Booking number:</label>
        </p>
        <p>
        <input type="text" name="booking-number" id="booking-number">
        </p>
        <p>
        <button class="btn btn-primary" type="submit" name="action" value="editbook">Edit booking</button>
        </p>
        <p>
        <button class="btn btn-primary" type="submit" name="action" value="viewbook">View booking</button>
        </p>
    </form>

{%endblock%}