{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="booking-form-container container mt-5">
        <h3 class="text-center">Book a table</h3>
        <p>Already made a reservation?<br>
        Click <a href="{% url 'open_booking' %}">here</a> update it or delete it</p>
        <form action="" method="post">
            {% csrf_token %}

            <table class="table">
            {{ form.as_table }}
            </table>
            <p id="no-booking"></p>
            <input class="btn btn-primary d-flex mx-auto px-3 submit-button" type="submit" value="Submit">
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.1.slim.js"
    integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
    crossorigin="anonymous"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        availableBookingSlot();
        $(document).on('change','select', () => availableBookingSlot());
        $("#id_date").on('change', () => availableBookingSlot());
    });

    async function availableBookingSlot() {
        const response = await axios.get("/booking/check/", {
        params: {
        date: $("#id_date").val(),
        time: $("#id_time option:selected").val(),
        tablesize: $("#id_tablesize option:selected").val(),
        }
        });
        if (response.data.tableAvailable === false) {
            $(".submit-button").prop("disabled", true);
            $("#no-booking").text("Sorry, there are no available tables with this size at this time.");
            $("#no-booking").addClass("bg-danger p-2 rounded");
        } else {
            $(".submit-button").prop("disabled", false);
            $("#no-booking").removeClass("bg-danger p-2 rounded");
            $("#no-booking").text("");
        }
    }
    </script>
{%endblock%}