{% extends "base.html" %}

{% block content %}



<div class="booking-form-container container mt-5">
    
    <form method="post">
        {% csrf_token %}

        <table class="table">
            <tr>
                <td scope="col" class="pt-3">{{form.firstname.label}}:</td>
                <td scope="col"><input type="text" class="form-control-plaintext" readonly name="firstname" value="{{form.firstname.value}}"></td>
            </tr>
            <tr>
                <td scope="col" class="pt-3">{{form.lastname.label}}:</td>
                <td scope="col"><input type="text" class="form-control-plaintext" readonly name="lastname" value="{{form.lastname.value}}"></td>
            </tr>
            <tr>
                <td scope="col" class="pt-3">{{form.email.label}}:</td>
                <td scope="col"><input type="text" class="form-control-plaintext" readonly name="email" value="{{form.email.value}}"></td>
            </tr>
            <tr>
                <td scope="col">{{form.phonenumber.label}}:</td>
                <td scope="col">{{form.phonenumber}}</td>
            </tr>
            <tr>
                <td scope="col">{{form.date.label}}:</td>
                <td scope="col">{{form.date}}</td>
            </tr>
            <tr>
                <td scope="col">{{form.time.label}}:</td>
                <td scope="col">{{form.time}}</td>
            </tr>
            <tr>
                <td scope="col">{{form.tablesize.label}}:</td>
                <td scope="col">{{form.tablesize}}</td>
            </tr>
        </table>
        
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if form.errors %}
            {% for value in form.errors.values %} 
                <p class="errormessage">{{ value }}</p> 
            {% endfor %}
        {% endif %}
        <input class="btn btn-primary px-3" type="submit" value="Update">
        <input class="btn btn-secondary float-end px-3" type="submit" name="Action" value="Delete" onclick="return confirm('Are you sure you want to delete?')"
        />>
    </form>
</div>

{%endblock%}