{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    {% if perms.menu.add_menuitem %}
        <div class="text-center mt-4">
            <a href="{% url 'add_menu_item' %}" class="btn btn-primary mb-3">Add menu item</a>
        </div>
        <h1 class="text-center mt-1">Food</h1>
    {% else %}
        <h1 class="text-center mt-5">Food</h1>
    {% endif %}

    {% if sushi_food_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-3">Sushi</h3>
        {% for sushi_item in sushi_food_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ sushi_item.name }}</h5>
                    <p class="card-text">{{ sushi_item.description }}</p>
                    <p>{{ sushi_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' sushi_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' sushi_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if rolls_food_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-3">Rolls</h3>
        {% for roll_item in rolls_food_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ roll_item.name }}</h5>
                    <p class="card-text">{{ roll_item.description }}</p>
                    <p>{{ roll_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' roll_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' roll_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if warm_food_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-3">Warm dishes</h3>
        {% for warm_food_item in warm_food_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ warm_food_item.name }}</h5>
                    <p class="card-text">{{ warm_food_item.description }}</p>
                    <p>{{ warm_food_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' warm_food_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' warm_food_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if bowl_food_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-3">Pokébowls</h3>
        {% for bowl_item in bowl_food_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ bowl_item.name }}</h5>
                    <p class="card-text">{{ bowl_item.description }}</p>
                    <p>{{ bowl_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' bowl_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' bowl_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <h1 class="text-center border-top pt-3 mt-5">Beverages</h1>

    {% if cold_drink_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-5">Cold</h3>
        {% for cold_drink_item in cold_drink_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ cold_drink_item.name }}</h5>
                    <p>{{ cold_drink_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' cold_drink_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' cold_drink_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if warm_drink_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-5">Warm</h3>
        {% for warm_drink_item in warm_drink_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ warm_drink_item.name }}</h5>
                    <p class="card-text">{{ warm_drink_item.description }}</p>
                    <p>{{ warm_drink_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' warm_drink_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' warm_drink_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if beer_drink_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-5">Beer</h3>
        {% for beer_drink_item in beer_drink_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ beer_drink_item.name }}</h5>
                    <p>{{ beer_drink_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' beer_drink_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' beer_drink_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if wine_drink_items %}
    <div class="row justify-content-md-center">
        <h3 class="text-center mt-5">Wine</h3>
        {% for wine_drink_item in wine_drink_items %}
        <div class="col-md-3 col-xl-2 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ wine_drink_item.name }}</h5>
                    <p>{{ wine_drink_item.price }} euro</p>
                    {% if perms.menu.change_menuitem %}
                        <a href="{% url 'edit_menu_item' wine_drink_item.slug %}" class="btn btn-primary mb-3">Edit</a>
                    {% endif %}
                    {% if perms.menu.delete_menuitem %}
                        <a href="{% url 'delete_menu_item' wine_drink_item.slug %}" class="btn btn-danger mb-3" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} 
        </div>
        <div class="row justify-content-md-center">

        
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

</div>

{%endblock%}