{% extends "base.html" %}

{% block content %}
<div class="booking-form-container container mt-5">
    <form method="post">
        {% csrf_token %}
        <br>
        <p>
            <label for="booking-number">Booking number:</label>
        </p>
        <p>
            <input type="text" name="booking-number" id="booking-number">
        </p>
        <p>
            <button class="btn btn-primary" type="submit" name="action" value="viewbook">View/Edit booking</button>
        </p>
    </form>
</div>

{%endblock%}